body,
html {
  height: 100%;
  background-color: #17193a;
}

.full-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 3;
}
.full-game {
  margin: auto;
  width: 700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.roof {
  position: relative;
  border-bottom: 140px solid rgb(128, 9, 9);
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  height: 0;
  z-index: 4;
  width: 680px;
  margin-left: -62px;
}

.chimney {
  position: absolute;
  width: 40px;
  height: 70px;
  top: -24px;
  left: 610px;
  /* border-style: solid;
  border-color: rgb(120, 8, 8); */
  background: linear-gradient(rgb(110, 7, 7) 70%, rgb(128, 9, 9));
}

.the-canvas {
  margin-top: -20px;
}

.snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
  animation: snow linear infinite;
}
.snow.foreground {
  background-image: url('./src/background/snow-foreground.png');
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}
.snow.middleground {
  background-image: image-url('./src/background/snow2.png');
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.snow.background {
  background-image: image-url('./src/background/snow1.png');
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
}
.snow.background.layered {
  -webkit-animation-delay: 45s;
  animation-delay: 45s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
    transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
    transform: translate3d(15%, 100%, 0);
  }
}
